
<h1>カレンダー</h1>
 
 <div class="card-body">
        <%= form_with method: "get", local: true do |f| %>
            <div class="form-row">
                <div class="col">
                    <%= f.text_field "date", placeholder: "日付を入力" %>
                </div>
                <div class="col">
                    <%= f.submit "表示", class: "btn btn-primary" %>
                </div>
            </div>
        <% end %>
 </div>
 

<table class= "table table-striped">
    <thead class="thead-dark">
   <tr>
    <th>日付</th>
    <th>体重</th> 
    <th>体脂肪率</th>
    <th>筋肉量</th>
    <th>基礎代謝</th>
   </tr>
   </thead>
   
   <% require "date" %>
   <% d1 = Date.today %>
   <%= d1.month %>
    <%= d1.year %>

   
    <% b = 2 %>
    <% c = 2015 %>

    <% if b == 2 && c % 4 != 0 %>
       <% a = [*(1..28)] %>
       
     <% elsif b == 2 && c % 100 == 0 && c % 400 != 0 %>
       <% a = [*(1..28)] %>
     
    <% elsif b == 4 || b == 6 || b == 9 || b == 11 %>
       <% a = [*(1..30)] %>
   
    <% elsif b == 1 || b == 3 || b == 5 || b == 7 || b == 8 || b == 10 || b == 12 %>
       <% a = [*(1..31)] %>
       
    <% else %>
       <% a = [*(1..29)] %>

   <% end %>
   
   <% a.each do |day| %>   
             <tr>
                <td><%= day %></td>
            </tr>
    
   <% end %>