
<h1>カレンダー</h1>
 
 <div class="card-body">
        <%= form_with method: "get", local: true do |f| %>
            <div class="form-row">
                <div class="col">
                    <%= f.text_field "date", placeholder: "日付を入力" %>
                </div>
                <div class="col">
                    <%= f.submit "表示", class: "btn btn-primary" %>
                </div>
            </div>
        <% end %>
 </div>
 

<table class= "table table-striped">
    <thead class="thead-dark">
   <tr>
    <th>日付</th>
    <th>体重</th> 
    <th>体脂肪率</th>
    <th>筋肉量</th>
    <th>基礎代謝</th>
   </tr>
   </thead>
   
   <% a = Time.zone.today.beginning_of_month %>
   <% b = Time.zone.today.end_of_month %>

   <% (a..b).each do |date| %>   
             <tr>
                <td><%= date %></td>
                <% @physicals.each do |physical| %>
                      <% if date.day == physical.created_at.day %>
                        <td><%= physical.weight %></td>
                        
                      <% end %>
                    <% end%> 
                    
                    
                
            </tr>
            
   <% end %>
   
   
    
   
   

   
    