 <h1>ユーザ詳細</h1>
    <table class="table table-striped">
        <tr>
            <th>アイコン</th>
            <td><%= @user.name %></td>
        </tr> 
        
        <tr>
            <th>名前</th>
            <td><%= @user.name %></td>
        </tr> 
        <tr>
            <th>自己紹介</th>
            <td><%= @user.self_introduction %></td>
        </tr>
        <tr>
            <th>身長</th>
            <td><%= @user.height %></td>
        </tr>
        <tr>
            <th>年齢</th>
            <td><%= @user.age %></td>
        </tr>
        <tr>
            <th>性別</th>
            <td><%= @user.gender %></td>
        </tr>
        
        
    </table>
 <%= link_to "戻る",posts_path,class: "btn btn-secondary" %>