
<h1>投稿一覧</h1>
  <div class="card-body">
        <%= form_with method: "get", local: true do |f| %>
            <div class="form-row">
                <div class="col">
                    <%= f.text_field "date", placeholder: "日付を入力" %>
                </div>
                <div class="col">
                    <%= f.submit "検索", class: "btn btn-primary" %>
                </div>
            </div>
        <% end %>
 </div>
        
<table class= "table table-striped">
    <thead class="thead-dark">
   <tr>
    <th>ユーザーID</th> 
    <th>内容</th>
    <th>ボタン</th>
   </tr>
   </thead>
 
 <% @posts.each do |post| %>
     <tr>
        <td><%= post.user_id %></td>
        <td><%= post.content %></td> 
        <td>
            
            <% unless current_user == user %>
            <% if current_user.following?(user) %>
            <%= form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete }) do |f| %>
            <%= hidden_field_tag :follow_id, user.id %>
            <%= f.submit 'Unfollow', class: 'btn btn-danger btn-block' %>
            <% end %>
            <% else %>
            <%= form_for(current_user.relationships.build) do |f| %>
            <%= hidden_field_tag :follow_id, user.id %>
            <%= f.submit 'Follow', class: 'btn btn-primary btn-block' %>
            <% end %>
            <% end %>
            <% end %>
            
            
        </td>
    </tr>
<% end %>

